<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AdminServlet</servlet-name>
  	<display-name>AdminServlet</display-name>
  	<description></description>
  	<servlet-class>Controller.AdminServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CityServlet</servlet-name>
  	<display-name>CityServlet</display-name>
  	<description></description>
  	<servlet-class>Controller.CityServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CategoryServlet</servlet-name>
  	<display-name>CategoryServlet</display-name>
  	<description></description>
  	<servlet-class>Controller.CategoryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CategoryDao</servlet-name>
  	<display-name>CategoryDao</display-name>
  	<description></description>
  	<servlet-class>Dao.CategoryDao</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HotelServlet</servlet-name>
  	<display-name>HotelServlet</display-name>
  	<description></description>
  	<servlet-class>Controller.HotelServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ItemServlet</servlet-name>
  	<display-name>ItemServlet</display-name>
  	<description></description>
  	<servlet-class>Controller.ItemServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CartServlet</servlet-name>
  	<display-name>CartServlet</display-name>
  	<description></description>
  	<servlet-class>Controller.CartServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckoutServlet</servlet-name>
  	<display-name>CheckoutServlet</display-name>
  	<description></description>
  	<servlet-class>Controller.CheckoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ContactServlet</servlet-name>
  	<display-name>ContactServlet</display-name>
  	<description></description>
  	<servlet-class>Controller.ContactServlet</servlet-class>
  </servlet>
 
  <servlet-mapping>
  	<servlet-name>AdminServlet</servlet-name>
  	<url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CityServlet</servlet-name>
  	<url-pattern>/CityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CategoryServlet</servlet-name>
  	<url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CategoryDao</servlet-name>
  	<url-pattern>/CategoryDao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HotelServlet</servlet-name>
  	<url-pattern>/HotelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ItemServlet</servlet-name>
  	<url-pattern>/ItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CartServlet</servlet-name>
  	<url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckoutServlet</servlet-name>
  	<url-pattern>/CheckoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ContactServlet</servlet-name>
  	<url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>  
</web-app>